html {
    font-size: 100%;
}

body {
    font-family: Georgia, serif;
    line-height: 1.75;
}

h1 {
    font: bold 1.5rem "Marko One", Georgia, serif;
    color: olivedrab
}

h2 {
    font-size: 1rem;
}

dt {
    font-weight: bold;
}

strong {
    font-style: italic;
}

dt strong {
    color: red;
}

#info {
    color: rgb(51, 165, 165);
}

#info p {
    font-style: italic;
}

.label {
    font-variant: small-caps;
    font-style: normal;
}

p.warning {
    color: red;
    font-size: small;
}

.price {
    font-style: italic;
    color: grey;
}

h1, h2, #info {
    text-align: center;
}

